<h1>Gallery</h1>

<div class="pictures">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Mick-Jagger-1965b.jpg" alt="Mick Jagger Picture 1">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/Mick_Jagger_%281982%29.jpg" alt="Mick Jagger Picture 2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/68/Mick_Jagger_in_red.jpg" alt="Mick Jagger Picture 3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/68/Mick_Jagger_in_red.jpg" alt="Mick Jagger Picture 4">
    <img src="https://tntsports.cl/__export/1673466347974/sites/cdfchile/img/2023/01/11/neuerfeed_crop1673466346982.jpeg" alt="Mick Jagger Picture 5">
</div>